<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">


<select id="select_board" resultType="board.BoardVO">
select row_number() over(order by id desc) no, b.id, b.title, 
	   to_char(b.writedate, 'YY-MM-dd') writedate, b.BOARD_CD,b.readcnt 
from LING_BOARD b
where board_cd = #{board_cd}

<if test="keyword != null">
	AND
	(title like '%'|| #{keyword} ||'%' or content like '%'|| #{keyword} ||'%' or writer like '%'|| #{keyword} ||'%')
</if>
  
</select>

<!-- <select id="noticeselect" resultType="board.BoardVO">
select row_number() over(order by id desc) no, b.id, b.title, to_char(b.writedate, 'YY-MM-dd') writedate, b.BOARD_CD
b.readcnt from LING_BOARD b

where board_cd = #{board_cd}
<if test="keyword != null">
	AND
	(title like '%'|| #{keyword} ||'%' or content like '%'|| #{keyword} ||'%' or writer like '%'|| #{keyword} ||'%')
</if>
  
</select>
	
<select id="freeselect" resultType="board.BoardVO">
select row_number() over(order by id desc) no, b.id, b.title, b.writer, to_char(b.writedate, 'YY-MM-dd') writedate, 
b.readcnt from LING_BOARD b

where board_cd = #{board_cd}
<if test="keyword != null">
	AND
	(title like '%'|| #{keyword} ||'%' or content like '%'|| #{keyword} ||'%' or writer like '%'|| #{keyword} ||'%')
</if>
</select> -->	

<!-- <select id="worryselect" resultType="board.BoardVO">
select id, title, writer, to_char(writedate, 'YY-MM-dd') writedate, readcnt from LING_BOARD where board_cd = 'WORRY'
</select> -->	

<!-- <select id="playselect" resultType="board.BoardVO">
select id, title, to_char(writedate, 'YY-MM-dd') writedate, readcnt from LING_BOARD where board_cd = 'PLAY'
</select> -->

<select id="content" resultType="board.BoardVO">
select id, title, to_char(writedate, 'YY-MM-dd') writedate, content, readcnt from LING_BOARD 
where id = #{id} and (board_cd = 'NOTICE' or board_cd = 'PLAY')
</select>

<select id="usercontent" resultType="board.BoardVO">
select id, writer, title, to_char(writedate, 'YY-MM-dd') writedate, content, readcnt from LING_BOARD 
where id = #{id} and (board_cd = 'FREE' or board_cd = 'WORRY')
</select>

<!--선택한 공지글 조회수 증가처리  -->
<update id="read">
update LING_BOARD set readcnt= readcnt+1
where id = #{id}
</update>

<!--신규 게시글 저장  -->
<insert id="insert">
insert into LING_BOARD(board_cd, title, content, writer)
values (#{board_cd}, #{title}, #{content}, #{writer})
</insert>

<!--글 변경저장 처리 -->
<update id="update">
update LING_BOARD set title = #{title}, content = #{content}
where id = #{id}
</update>
</mapper>