<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photo">

	<select id="list" resultType="photo.PhotoVO">
		select * from photo_category where pho_img like '%/'||(select couple_num
		from couple where couple_num = #{couple_num}) || '/' ||
		(select folder_name from photo_folder where folder_name= #{folder_name})
		||'%'
	</select>


	<select id="folder" resultType="photo.FolderVO">
		select id, couple_num, folder_name from photo_folder where couple_num = #{couple_num} and id = #{id}
	</select>
	
<!-- 	<select id="folder_LastImg" resultType="photo.FolderVO"> -->
<!-- 		SELECT pf.id, pf.couple_num, pf.folder_num, pf.folder_name, -->
<!--     		(SELECT pc.pho_img  -->
<!--     		 FROM photo_category pc -->
<!--      		 WHERE pc.folder_num = pf.folder_num AND pc.pho_no = (SELECT MAX(pho_no)  -->
<!--                         										  FROM photo_category  -->
<!--                         										  WHERE folder_num = pf.folder_num)) AS last_photo  -->
<!-- 		FROM photo_folder pf -->
<!-- 		WHERE pf.couple_num = #{couple_num} AND pf.id = #{id} -->
<!--     		  AND pf.folder_num IN (SELECT folder_num  -->
<!--                          			 FROM photo_category  -->
<!--                           			WHERE folder_num = pf.folder_num) -->
<!-- 	</select> -->

	<insert id="folder_insert">
		INSERT INTO photo_folder (id, couple_num, folder_name)
		SELECT
		lm.id,
		c.couple_num,
		#{folder_name}
		FROM
		ling_member lm
		JOIN
		couple c ON lm.id = c.mid OR lm.id = c.fid
		WHERE
		lm.id = #{id}

	</insert>
	
	<insert id="photo_insert">
		INSERT INTO photo_category (pho_img, folder_num, pho_date)
		SELECT #{pho_img}, pf.folder_num, sysdate
		FROM photo_folder pf
		WHERE pf.couple_num = #{couple_num} AND pf.id = #{id}
      	AND pf.folder_name = 'all';
	</insert>
	
<!-- 	<insert id="file"> -->
<!-- 	insert into photo_category (pho_img, folder_num) -->
<!-- 			select #{pho_img}, pf.folder_num -->
<!-- 			from photo_folder pf -->
<!-- 	where pf.folder_name = 'all' -->
<!-- 	</insert> -->
	
	<delete id="folder_delete">
		delete from photo_folder where folder_name = #{folder_name}
	</delete>
	
	<delete id="file_delete">
		delete from photo_category where folder_name = #{folder_name}
	</delete>
	
	
	<select id="storage" resultType="photo.PhotoVO">
		select pho_img from photo_category where folder_name = 'all' and pho_img like '%' || '/' || (
    	SELECT couple_num
    	FROM couple 
    	WHERE couple_num = #{couple_num}
		) || '/' || (
   	 	SELECT folder_name 
    	FROM photo_folder 
    	WHERE folder_name = 'all'
		) || '%'
	</select>
</mapper>