<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="photo">

<!-- 
	select * from photo_category where pho_img like '%/'||(select couple_num
		from couple where couple_num = #{couple_num}) || '/' ||
		(select folder_name from photo_folder where folder_name= #{folder_name})
		||'%'
		 -->
	<select id="photo_list" resultType="photo.PhotoVO">
	select *
    from photo_category 
    where FOLDER_NUM = #{folder_num}
	</select>


	<select id="folder_list" resultType="photo.FolderVO">
	    SELECT PF.* , PC.PHO_IMG AS LAST_PHOTO
    FROM PHOTO_FOLDER PF LEFT OUTER JOIN 
                                ( 
                                SELECT FOLDER_NUM , PHO_IMG FROM PHOTO_CATEGORY 
                                    WHERE PHO_NO IN ( SELECT  MAX( PHO_NO ) 
                                    FROM PHOTO_CATEGORY PC
                                    GROUP BY PC.FOLDER_NUM )
                                ) PC ON PF.FOLDER_NUM = PC.FOLDER_NUM
    WHERE COUPLE_NUM = #{couple_num}
    
    

	</select>
	
	<update id="folder_lastPhoto">
	    SELECT PF.* , PC.PHO_IMG AS LAST_PHOTO
    FROM PHOTO_FOLDER PF LEFT OUTER JOIN 
                                ( 
                                SELECT FOLDER_NUM , PHO_IMG FROM PHOTO_CATEGORY 
                                    WHERE PHO_NO IN ( SELECT  MAX( PHO_NO ) 
                                    FROM PHOTO_CATEGORY PC
                                    GROUP BY PC.FOLDER_NUM )
                                ) PC ON PF.FOLDER_NUM = PC.FOLDER_NUM
    WHERE COUPLE_NUM = {#couple_num}
	
	</update>
	
	
	
	<insert id="folder_insert">
		INSERT INTO photo_folder (id, couple_num, folder_name)
		VALUES (#{id}, #{couple_num}, #{folder_name} )

	</insert>
	
	<insert id="photo_insert">
		INSERT INTO photo_category (pho_img, pho_date, folder_num)
		values(#{pho_img}, sysdate, #{folder_num})
				
	</insert>
	
	<insert id="file">
	insert into photo_category (pho_img, folder_num)
			select #{pho_img}, pf.folder_num
			from photo_folder pf
	where pf.folder_num = #{folder_num}
	</insert>
	
	<delete id="folder_delete">
		delete from photo_folder where folder_name = #{folder_name}
	</delete>
	
	<delete id="file_delete">
		delete from photo_category where folder_name = #{folder_name}
	</delete>
	
	
	<select id="storage" resultType="photo.PhotoVO">
		select pho_img from photo_category where folder_name = 'all' and pho_img like '%' || '/' || (
    	SELECT couple_num
    	FROM couple 
    	WHERE couple_num = #{couple_num}
		) || '/' || (
   	 	SELECT folder_name 
    	FROM photo_folder 
    	WHERE folder_name = 'all'
		) || '%'
	</select>
</mapper>