<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sche">

<select id="list" resultType="schedule.ScheAddVO">
	select s.sche_no, s.sche_title, s.sche_date, trunc(to_date(s.sche_date)-sysdate) "d_day", 
	rank() over (order by trunc(to_date(s.sche_date)-sysdate, 0) asc), s.sche_notice from schedule s, couple c 
where s.couple_num = c.couple_num
and s.couple_num = #{couple_num}
</select>

<select id="plus_List" resultType="schedule.ScheAddVO">
<![CDATA[
SELECT s.sche_no, s.sche_title, s.sche_date, trunc(to_date(s.sche_date)-sysdate) "d_day", 
	  RANK() OVER (ORDER BY trunc(to_date(s.sche_date)-sysdate, 0) ASC) AS ranking, s.sche_notice
	FROM schedule s
	INNER JOIN couple c ON s.couple_num = c.couple_num
	WHERE s.couple_num = #{couple_num}
	AND trunc(to_date(s.sche_date)-sysdate) > 0
	]]>
</select>

<insert id="insert">
	<!-- insert into schedule(couple_num, id, sche_title, sche_date, sche_notice, sche_typecode)
	values(select c.couple_num, c.couple_id, s.sche_title, s.sche_date, s.sche_notice, sche ) -->
	
	insert into schedule(couple_num, id, sche_title, sche_date, sche_notice, sche_typecode)
	select c.couple_num, lm.id, #{sche_title}, #{sche_date}, #{sche_notice}, #{sche_typecode}
	from couple c
	join ling_member lm on c.mid = lm.id or c.fid = lm.id
	where lm.id = #{id}
</insert>

<delete id="delete">
	delete from schedule where sche_no = #{sche_no}
</delete>

<update id="update">
	update schedule set sche_title = #{sche_title} where couple_num = #{couple_num} and sche_no = #{sche_no}
</update>

<select id="dday" resultType="schedule.ScheAddVO">
	SELECT s.couple_num, c.create_date as create_date
	FROM couple c
	LEFT JOIN schedule s ON c.couple_num = s.couple_num
	WHERE c.couple_num = #{couple_num}

<!-- select c.couple_num , c.create_date from couple c, schedule s	 -->

</select>

</mapper>