<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chart">
	<select id="age" resultType="hashmap">
		SELECT
    	FLOOR((TO_CHAR(SYSDATE, 'yyyy') - TO_CHAR(birth, 'yyyy')) / 10) * 10 AS age_group, COUNT(*) AS count
		FROM ling_member
		GROUP BY FLOOR((TO_CHAR(SYSDATE, 'yyyy') - TO_CHAR(birth, 'yyyy')) / 10) * 10
		ORDER BY age_group
	</select>
	
	<select id="period" resultType="hashmap">
	SELECT FLOOR(period / 100) * 100 AS period_range, COUNT(*) AS count 
	FROM (
    SELECT TRUNC(SUBSTR(TO_CHAR(sysdate - create_date), 2)) AS period
    FROM couple
	)
	GROUP BY FLOOR(period / 100) * 100
	ORDER BY period_range
	
	</select>
	
</mapper>