<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="chart">
	<select id="age" resultType="hashmap">
		SELECT FLOOR((TO_CHAR(SYSDATE, 'yyyy') - TO_CHAR(birth, 'yyyy')) / 10) * 10 AS age_group,
    	MAX(CASE WHEN chart_age.age_range = FLOOR((TO_CHAR(SYSDATE, 'yyyy') 
    												- TO_CHAR(birth, 'yyyy')) / 10) * 10 
        	THEN chart_age.age_text
    		END) AS age_text,
    		COUNT(*) AS count
		FROM ling_member 
		LEFT JOIN
    	chart_age ON FLOOR((TO_CHAR(SYSDATE, 'yyyy') 
    							- TO_CHAR(birth, 'yyyy')) / 10) * 10 = chart_age.age_range
		GROUP BY FLOOR((TO_CHAR(SYSDATE, 'yyyy') - TO_CHAR(birth, 'yyyy')) / 10) * 10
		ORDER BY age_group
	</select>
	
	<select id="period" resultType="hashmap">
	SELECT pr.period_text AS period_text, FLOOR(c.period / 100) * 100 AS period_range, COUNT(*) AS count
	FROM (select trunc(to_char(sysdate - create_date)) as period
            from couple
		  ) c
	JOIN period_range pr ON pr.period_range = FLOOR(c.period / 100) * 100
	GROUP BY pr.period_text, FLOOR(c.period / 100) * 100
	ORDER BY period_range
	</select>
	
	<select id="item_rank" resultType="hashmap">
	<![CDATA[
		SELECT rm.rank_text AS rank, si.item_name, si.sales
FROM (
    SELECT DENSE_RANK() OVER (ORDER BY sales DESC) AS item_rank, 
           item_name, 
           sales,
           ROW_NUMBER() OVER (PARTITION BY sales ORDER BY item_name) AS row_num
    FROM store_item
) si
JOIN rank_mapping rm ON si.item_rank = rm.rank_num
WHERE si.item_rank <= 10 AND si.row_num = 1
	]]>
	</select>
	
</mapper>