<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="date">

<select id="travel" resultType="date.DateVO">
	select * from date_info where date_category_code = 'TO'
</select>

<select id="restaurant" resultType="date.DateVO">
	select * from date_info where date_category_code = 'RE'
</select>

<select id="festival" resultType="date.DateVO">
	select * from date_info where date_category_code = 'FE'
</select>

<select id="info" resultType="date.DateVO">
	select * from date_info where date_id = #{date_id}
</select>

<insert id="insert">
	insert into date_info(date_id, date_category_code, date_name, date_address, tel, open, end, date_intro, date_img)
	values (seq_date_info.nextval, #{date_category_code}, #{date_name}, #{date_address}, #{tel}, #{open}, #{end}, #{date_intro}, #{date_img})
</insert>

<delete id="delete">
	delete from date_info where date_id = #{date_id} and date_category_code = #{date_category_code}
</delete>

<delete id="multipledelete">
	delete from date_info where date_id in ( ${date_id} ) and date_category_code = #{date_category_code}
</delete>

<update id="update">
	update date_info set date_name = #{date_name}, date_intro = #{date_intro}, date_address = #{date_address}, tel = #{tel}, 
	open = #{open} , end = #{end}, date_img =  #{date_img}
	where date_id = #{date_id} 
</update>

</mapper>