<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="faq">


<!-- FAQ 글 목록  -->
<!-- <select id="list" resultType="faq.FaqVO">
		select * from faq  order by faq_no desc
</select> -->

<select id="list" resultType="faq.FaqVO">
select *
from (select row_number() over(order by faq_no) no, f.*
	from faq f inner join ling_member lm on f.faq_id = lm.id 
	<include refid="searchWhere"/>) f
	where no between #{beginList} and #{endList}
	order by no desc
</select>


<!-- FAQ 글 추가 --> 
<insert id="faq_insert">
	insert into faq(faq_category, faq_title, faq_content, faq_id)
    values(
        #{faq_category},
        #{faq_title},
        #{faq_content},
        'admin'
    )
</insert>


<select id="faq_info" resultType="faq.FaqVO">
	select * from faq where faq_no = #{faq_no}
</select>
	
<sql id="searchWhere">
	<choose>
		<!-- 전체 -->
		<when test="search == 'all'">
			where faq_content like '%' || #{keyword} || '%'
		    or faq_title like '%' || #{keyword} || '%'
		</when>
		<!--제목-->
		<when test="search == 'title'">
			where faq_title like '%' || #{keyword} || '%'
		</when>
		<!-- 카테고리-->
		<when test="search == 'category'">
			where faq_category like '%' || #{keyword} || '%'
		</when>
	</choose>
</sql>


<update id="faq_update">
	update faq set  faq_title=#{faq_title}, faq_content=#{faq_content}, faq_category=#{faq_category}
	where faq_no = #{faq_no}
</update>

<delete id="faq_delete">
	delete from faq where faq_no = #{faq_no}
</delete>



<!-- 총 글의 건수 조회  -->
<select id="totalList" resultType="integer">
	select count(*) from faq <include refid="searchWhere"/>
</select>


</mapper>