<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store">

<select id="store_select" resultType="store.StoreVO">

select i.*,(item_price*sales) as sales_amount from store_item i

</select>

<select id="store_select_totalsales" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item
</select>

<select id="store_delivery_select" resultType="storereturn.StoreReturnVO">

select order_num,p.item_code,
case  when delivery_code=1 then '배송중'
     when delivery_code=2 then '배송완료'
     when delivery_code=3 then '배송취소'
     end as delivery_state
,
id,item_price,(purchase_cnt*item_price) as total_price,purchase_cnt,item_name,item_img,address,i.category_code
from store_purchase_product p , store_item i
where p.item_code = i.item_code
order by to_number(order_num) desc

</select>

<select id="store_return_select" resultType="storereturn.StoreReturnVO">
select r.*,i.item_name,i.item_price,i.item_img,i.item_content ,((r.purchase_cnt)*(i.item_price)) as total_price
from store_return_list r, store_item i
where r.item_code = i.item_code
order by return_code desc
</select>

<update id="store_return_update">
update store_return_list set return_state = '환불처리' where return_code in ( ${returnCodes} )
</update>

<update id="store_return_cancel">
update store_return_list set return_state = '환불처리' where return_code in ( ${returnCodes} )
</update>

<update id="store_delivery_update">
update store_purchase_product set delivery_code = 2 where order_num in ( ${orderNums} )
</update>


<update id="store_delivery_cancel">
update store_purchase_product set delivery_code = 3 where order_num in ( ${orderNums} )
</update>

<insert id="store_insert">
insert into store_item values(seq_item_code.nextval, #{category_code}, #{item_name}, #{item_price}, #{item_img},#{item_content}, 0, 0)
</insert>

<!-- <insert id="store_insert"> -->
<!-- insert into store_item (max(to_number(item_code))+1 as item_code, 'Dr', #{item_name}, #{item_price}, null, #{item_content}, 0, 0) -->
<!-- </insert> -->


<select id="info" resultType="store.StoreVO">
select * from Store_item where item_code=#{item_code}
</select>


</mapper>