<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="store">

<select id="store_select" resultType="store.StoreVO">

select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i order by to_number(i.item_code) desc

</select>

<select id="store_name_by" resultType="store.StoreVO">

select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount,
to_char(item_price,'999,999,999') as st_item_price
from store_item i order by i.item_name

</select>

<select id="store_price_by" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount,
to_char(item_price,'999,999,999') as st_item_price
from store_item i order by i.item_price
</select>

<select id="store_sales_by" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount,
to_char(item_price,'999,999,999') as st_item_price
from store_item i order by i.sales desc
</select>

<select id="store_amount" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount,
to_char(item_price,'999,999,999') as st_item_price
from store_item i order by sales_amount desc
</select>

<select id="store_select_totalsales" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item
</select>


<select id="store_dr" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Dr'
order by to_number(i.item_code) desc
</select>

<select id="store_name_dr" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Dr'
order by i.item_name
</select>

<select id="store_name_ri" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Ri'
order by i.item_name
</select>

<select id="store_name_gi" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Gi'
order by i.item_name
</select>

<select id="store_name_etc" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Etc'
order by i.item_name
</select>

<select id="store_price_dr" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Dr'
order by i.item_price
</select>

<select id="store_price_ri" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Ri'
order by i.item_price
</select>

<select id="store_price_gi" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Gi'
order by i.item_price
</select>

<select id="store_price_etc" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Etc'
order by i.item_price
</select>

<select id="store_sales_dr" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Dr'
order by i.sales desc
</select>

<select id="store_sales_ri" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Ri'
order by i.sales desc
</select>

<select id="store_sales_gi" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Gi'
order by i.sales desc
</select>

<select id="store_sales_etc" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Etc'
order by i.sales desc
</select>

<select id="store_amount_dr" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Dr'
order by sales_amount desc
</select>

<select id="store_amount_ri" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Ri'
order by sales_amount desc
</select>

<select id="store_amount_gi" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Gi'
order by sales_amount desc
</select>

<select id="store_amount_etc" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Etc'
order by sales_amount desc
</select>

<select id="store_total_dr" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item where category_code='Dr'
</select>

<select id="store_ri" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Ri'
order by to_number(i.item_code) desc
</select>



<select id="store_total_ri" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item where category_code='Ri'
</select>

<select id="store_gi" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Gi'
order by to_number(i.item_code) desc
</select>

<select id="store_total_gi" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item where category_code='Gi'
</select>

<select id="store_etc" resultType="store.StoreVO">
select i.*,(item_price*sales) as sales_amount,TO_CHAR((item_price*sales),'999,999,999') as st_sales_amount ,
to_char(item_price,'999,999,999') as st_item_price
from store_item i 
where category_code='Etc'
order by to_number(i.item_code) desc
</select>

<select id="store_total_etc" resultType="String">
select TO_CHAR(SUM(item_price * sales), '999,999,999') as total_sales from store_item where category_code='Etc'
</select>

<select id="store_delivery_select" resultType="storereturn.StoreReturnVO">

select order_num,p.item_code,
case  when delivery_code=1 then '배송중'
     when delivery_code=2 then '배송완료'
     when delivery_code=3 then '배송취소'
     end as delivery_state
,
id,item_price,(purchase_cnt*item_price) as total_price,purchase_cnt,item_name,item_img,address,i.category_code
from store_purchase_product p , store_item i
where p.item_code = i.item_code
order by to_number(order_num) desc

</select>

<select id="store_return_select" resultType="storereturn.StoreReturnVO">
select r.*,i.item_name,i.item_price,i.item_img,i.item_content ,((r.purchase_cnt)*(i.item_price)) as total_price
from store_return_list r, store_item i
where r.item_code = i.item_code
order by return_code desc
</select>



<update id="store_return_update"  parameterType="java.util.List">

<foreach collection="list" item="item" open="DECLARE BEGIN" close="; END;" separator=";" >
	update store_return_list set return_state = '환불처리완료'  where return_code = #{item.return_code}
</foreach>

</update>

<update id="store_return_update2"   parameterType="java.util.List">

<foreach collection="list"  item="item" open="DECLARE BEGIN" close="; END;" separator=";" >

	update store_myinfo set money = money + 
	(select  ((purchase_cnt)*(i.item_price)) as total_price
	from store_return_list r, store_item i
	where r.item_code = i.item_code
	and return_code= #{item.return_code})
	where id= #{item.id}
</foreach>

</update>



<update id="store_return_cancel">
update store_return_list set return_state = '환불취소' where return_code in ( ${returnCodes} )
</update>

<update id="store_delivery_update">
update store_purchase_product set delivery_code = 2 where order_num in ( ${orderNums} )
</update>


<update id="store_delivery_cancel">
update store_purchase_product set delivery_code = 3 where order_num in ( ${orderNums} )
</update>

<insert id="store_insert">
insert into store_item values(seq_item_code.nextval, #{category_code}, #{item_name}, #{item_price}, #{item_img},#{item_content}, 0, 0)
</insert>

<update id="store_update">
update store_item set item_name=#{item_name} , item_content=#{item_content} , item_price=#{item_price} , 
category_code=#{category_code}, item_img=#{item_img}
where item_code=#{item_code}
</update>

<!-- <insert id="store_insert"> -->
<!-- insert into store_item (max(to_number(item_code))+1 as item_code, 'Dr', #{item_name}, #{item_price}, null, #{item_content}, 0, 0) -->
<!-- </insert> -->


<select id="info" resultType="store.StoreVO">
select * from Store_item where item_code=#{item_code}
</select>

<delete id="store_delete">
delete store_item where item_code=#{item_code}
</delete>

<delete id="store_delete_zzim">
delete store_zzim_product where item_code=#{item_code}
</delete>

<delete id="store_delete_buylist">
delete store_purchase_product where item_code=#{item_code}
</delete>

<delete id="store_delete_return">
delete store_return_list where item_code=#{item_code}
</delete>

<delete id="store_delete_basket">
delete store_basket where item_code=#{item_code}
</delete>



</mapper>